*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body{
    display: grid;
    grid-template-columns: 70% 30%;
    position: relative;
    background-color: rgb(1, 1, 30);
    color: white;
}
.left-window{
    height: 100vh;
    background-color: rgb(1, 1, 30);
    color: white;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main-grid{
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr;
}
.icon-img{
    transition: all 0.5s;
    width: 150px;
    height: 150px;
    background-color: rgb(1, 1, 30);
    padding: 10px;
    border-radius: 50%;
    border: 2px solid rgb(255, 225, 1);
    position: relative;
    left: 5%;
}
.icon-img:hover{
    box-shadow: 0px 0px 20px rgb(255, 225, 1);
}
.main-grid{
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr;
    padding: 30px;
    width: 90%;
    height: 90vh;
    margin: 0 auto;
    position: relative;
    top: 30px;
    background-color: rgb(1, 1, 60);
    border-radius: 30px;
}
.content-grid{
    transition: all 0.5s;
    text-align: center;
    background-color: rgb(1, 1, 30);
    width: 80%;
    line-height: 40px;
    border-radius: 30px;
    border: 2px solid rgb(255, 225, 1);
    position: relative;
    top: 20px;
}
.content-grid:hover{
    box-shadow: 0px 0px 20px rgb(255, 225, 1);
}
#window-current{
    display: inline;
    width: 300px;
    background-color: rgb(1, 1, 30);
    width: 90px;
    position: relative;
    left: 20%;
    display: flex;
    top: 50px;
    padding: 10px;
    border-radius: 30px;
    border: 2px solid rgb(255, 225, 1);
    transition: all 0.5s;
}
#window-wrapper:hover{
    box-shadow: 0px 0px 20px rgb(255, 225, 1);

}
.items-control{
    transition: all 0.5s;
    margin: 0 auto;
    cursor: pointer;
} 
.items-control:hover{
    color: rgb(1, 255, 5);
}
.part-grid{
    position: relative;
    left: 10%;
}
.add-to-bucket{
    transition: all 0.5s;
    width: 150px;
    background-color: rgb(1, 1, 30);
    text-align: center;
    position: relative;
    top: 20%;
    left: 5%;
    padding: 10px;
    border: 2px solid rgb(255, 225, 1);
    cursor: pointer;
    color: white;
    font-size: large;
}
.add-to-bucket:hover{
    box-shadow: 0px 0px 20px rgb(255, 225, 1);
    color: rgb(1, 255, 5);
    width: 200px;
    padding: 13px;
    position: relative;
    left: -5%;
}
.add-to-bucket:active{
    color: hsl(253, 100%, 50%);
    text-shadow: 0px 0px 50px blue;
}


/* right-window */

.cart-item{
    background-color: rgb(1, 1, 60);
    width: 90%;
    position: relative;
    top: 30px;
    border-radius: 30px;
    padding: 30px;
    height: 20vh;
    margin-bottom: 20px;
}
.cart-item-img img{
    width: 80px;
    height: 80px;
    position: relative;
}
.cart-item-img{
    transition: all 0.5s;
    width: 100px;
    height: 100px;
    background-color: rgb(1, 1, 30);
    padding: 10px;
    border-radius: 50%;
    border: 2px solid rgb(255, 225, 1);
    position: relative;

}
.cart-item-img:hover{
    box-shadow: 0px 0px 20px rgb(255, 225, 1);
}
.cart-content-grid{
    transition: all 0.5s;
    text-align: center;
    background-color: rgb(1, 1, 30);
    width: 40%;
    line-height: 30px;
    border-radius: 30px;
    border: 2px solid rgb(255, 225, 1);
    position: relative;
    left: 47%;
    top: -120px;
    font-size: medium;

}
.cart-content-grid:hover{
    box-shadow: 0px 0px 20px rgb(255, 225, 1);
}
.bucket-wrapper{
    display: inline;
    width: 120px;
    height: 40px;
    background-color: rgb(1, 1, 30);
    position: relative;
    left: 50%;
    display: flex;
    top:-110px;
    padding: 10px;
    border-radius: 30px;
    font-size:medium;
    border: 2px solid rgb(255, 225, 1);
    transition: all 0.5s;
}
.bucket-wrapper:hover{
    box-shadow: 0px 0px 20px rgb(255, 225, 1);
}
.cart-items-control{
    transition: all 0.5s;
    margin: 0 auto;
    cursor: pointer;
} 
.cart-items-control:hover{
    color: rgb(1, 255, 5);
}